/* ---- 💫 https://github.com/LinuxBeginnings 💫 ---- */
/* Calculator mode follows global rofi theme selection */

@import "~/.config/rofi/config.rasi"

configuration {
    modi: "calc";
    display-calc: " Calculator";
}
